# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [24]:
# Your code goes here

import pandas as pd
import numpy as np

file1 = pd.read_csv('file1_cleaned.csv', sep = ';')
file2 = pd.read_csv('file2_cleaned.csv', sep = ';')
file3 = pd.read_csv('file3_cleaned.csv', sep = ',')
file1.head()
file1.shape
#We may want to filter by month, for example, or by quarter, or group by month, or sum all Januaries in a decade. All of these are easier to do if the months are in a column than accross multiple

(1071, 11)

In [25]:
file2.head()
file2.shape

(996, 11)

In [26]:
file3.head()
file3.shape

(7070, 11)

In [29]:
file = pd.concat([file1,file2,file3], axis=0, ignore_index=True)
file.tail(25)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
9112,JR41742,California,M,College,3622.872124,0.0,108.0,0.0,Corporate Auto,SUV,1254.177129
9113,RA89822,California,F,High School or Below,34611.378960,20090.0,109.0,0.0,Personal Auto,Luxury,523.200000
9114,IJ25462,California,M,Bachelor,2845.520933,86631.0,73.0,1.0,Personal Auto,Four-Door Car,400.832857
9115,ZP86347,California,F,College,5500.577411,44019.0,138.0,0.0,Personal Auto,SUV,165.478147
9116,HO82823,California,F,Bachelor,3358.532935,59367.0,84.0,0.0,Personal Auto,Four-Door Car,6.880385
9117,EA54906,California,F,High School or Below,7501.661322,38874.0,94.0,0.0,Corporate Auto,Four-Door Car,331.170924
9118,BC64697,California,F,College,11663.985720,0.0,107.0,0.0,Personal Auto,Four-Door Car,513.600000
9119,VV68726,California,F,High School or Below,5133.397765,28647.0,69.0,0.0,Personal Auto,Four-Door Car,331.200000
9120,QR91631,California,F,High School or Below,8732.090534,51205.0,72.0,0.0,Personal Auto,Two-Door Car,185.530076
9121,OT56964,California,M,Master,9424.256842,46897.0,118.0,0.0,Corporate Auto,SUV,322.575677
9122,YX35990,California,M,Master,5479.555081,56005.0,68.0,1.0,Corporate Auto,Four-Door Car,326.400000
9123,RN61682,California,F,Bachelor,2114.738469,0.0,72.0,5.0,Personal Auto,Four-Door Car,518.400000
9124,BB10681,California,F,College,4140.648654,0.0,123.0,2.0,Corporate Auto,SUV,590.400000
9125,FH43628,California,F,College,25464.820590,13663.0,97.0,0.0,Personal Auto,Four-Door Car,465.600000
9126,WZ45103,California,F,Bachelor,5678.050167,0.0,76.0,0.0,Personal Auto,Four-Door Car,364.800000
9127,CB59349,California,M,Master,16261.585500,60646.0,134.0,0.0,Personal Auto,SUV,643.200000
9128,RX91025,California,M,High School or Below,19872.262000,0.0,185.0,0.0,Personal Auto,SUV,1950.725547
9129,AC13887,California,M,Bachelor,4628.995325,0.0,67.0,0.0,Corporate Auto,Two-Door Car,482.400000
9130,TF56202,California,M,College,5032.165498,66367.0,64.0,0.0,Personal Auto,Two-Door Car,307.200000
9131,YM19146,California,F,College,4100.398533,47761.0,104.0,0.0,Personal Auto,Four-Door Car,541.282007
9132,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,College,3096.511217,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,College,7524.442436,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,College,2611.836866,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [33]:
# Your code goes here
marketing = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

marketing.tail(30)
marketing1 = marketing.drop(columns='unnamed:_0')
marketing1.tail(30)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10880,JG12505,Nevada,4064.182317,No,Basic,Master,2011-01-31,Employed,F,26599,...,1,Personal Auto,Personal L2,Offer1,Web,254.380731,SUV,Medsize,A,1
10881,NL59519,California,11565.687470,No,Extended,College,2011-02-14,Employed,F,64642,...,2,Personal Auto,Personal L2,Offer3,Branch,404.265696,Four-Door Car,Large,A,2
10882,XW90265,Arizona,5773.520711,No,Basic,Bachelor,2011-02-15,Employed,F,81676,...,8,Personal Auto,Personal L2,Offer1,Agent,463.158502,Two-Door Car,Small,A,2
10883,FD64348,Oregon,22563.618380,No,Basic,High School or Below,2011-01-17,Employed,M,23046,...,2,Personal Auto,Personal L3,Offer4,Branch,1.687291,Four-Door Car,Medsize,A,1
10884,NP33989,Oregon,12362.087660,No,Premium,Bachelor,2011-01-07,Unemployed,F,0,...,2,Personal Auto,Personal L3,Offer3,Branch,217.926320,Four-Door Car,Medsize,A,1
10885,XM87301,Oregon,2397.536652,No,Basic,Bachelor,2011-02-06,Unemployed,M,0,...,1,Personal Auto,Personal L3,Offer2,Web,596.494439,Four-Door Car,Medsize,A,2
10886,OS84395,Nevada,7611.949286,No,Extended,Bachelor,2011-02-25,Employed,M,90252,...,7,Corporate Auto,Corporate L2,Offer2,Web,122.924197,Four-Door Car,Medsize,A,2
10887,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,2011-02-03,Employed,F,52583,...,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A,2
10888,MN95006,California,6928.601611,No,Basic,Bachelor,2011-01-10,Employed,M,22907,...,1,Personal Auto,Personal L2,Offer4,Call Center,49.187760,Luxury SUV,Medsize,A,1
10889,RT36566,California,5260.623466,No,Basic,Bachelor,2011-01-01,Employed,F,31006,...,4,Personal Auto,Personal L3,Offer2,Call Center,321.600000,Four-Door Car,Medsize,A,1
10890,VQ78876,Oregon,4660.399573,No,Basic,Bachelor,2011-02-03,Employed,F,89834,...,1,Corporate Auto,Corporate L3,Offer1,Branch,43.155950,Four-Door Car,Medsize,A,2
10891,UV43859,Oregon,8840.193762,No,Basic,High School or Below,2011-01-22,Employed,F,47297,...,4,Personal Auto,Personal L3,Offer2,Web,796.130111,SUV,Medsize,A,1
10892,BC87551,California,32306.285870,No,Basic,High School or Below,2011-01-28,Employed,F,36301,...,2,Corporate Auto,Corporate L3,Offer1,Branch,647.954067,SUV,Medsize,A,1
10893,CG69038,Washington,4817.992644,No,Basic,College,2011-02-26,Employed,M,38157,...,4,Personal Auto,Personal L3,Offer3,Branch,81.532330,Two-Door Car,Medsize,A,2
10894,EX63393,California,6314.492009,No,Extended,Master,2011-02-27,Employed,F,66947,...,6,Personal Auto,Personal L1,Offer3,Agent,374.400000,Four-Door Car,Small,A,2
10895,EG40670,California,6232.687923,No,Extended,Bachelor,2011-01-08,Disabled,F,28334,...,7,Special Auto,Special L3,Offer1,Agent,537.765151,Four-Door Car,Medsize,A,1
10896,HT87217,Oregon,19776.566540,No,Extended,High School or Below,2011-01-16,Employed,F,70699,...,2,Personal Auto,Personal L2,Offer3,Agent,256.813837,Four-Door Car,Medsize,A,1
10897,MM70762,Arizona,9075.768214,Yes,Basic,Master,2011-01-26,Employed,M,37722,...,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A,1
10898,SO95845,California,5807.659307,No,Basic,College,2011-01-07,Employed,F,62447,...,7,Personal Auto,Personal L3,Offer4,Call Center,133.977857,Two-Door Car,Medsize,A,1
10899,WU60905,California,8610.667489,No,Basic,High School or Below,2011-02-06,Unemployed,F,0,...,9,Corporate Auto,Corporate L1,Offer3,Web,532.800000,SUV,Medsize,A,2
10900,VN73653,Oregon,6423.739052,No,Basic,College,2011-02-13,Unemployed,M,0,...,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,A,2
10901,RY92254,Washington,4547.892543,No,Premium,Bachelor,2011-01-13,Employed,M,33531,...,1,Personal Auto,Personal L3,Offer4,Agent,801.577478,Two-Door Car,Medsize,A,1
10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
marketing1.tail(10)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10900,VN73653,Oregon,6423.739052,No,Basic,College,2011-02-13,Unemployed,M,0,Suburban,Single,188,5.000000,67,0.000000,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,A,2
10901,RY92254,Washington,4547.892543,No,Premium,Bachelor,2011-01-13,Employed,M,33531,Suburban,Married,116,11.000000,15,0.000000,1,Personal Auto,Personal L3,Offer4,Agent,801.577478,Two-Door Car,Medsize,A,1
10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,Suburban,Married,91,10.000000,30,2.000000,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,Suburban,Married,74,30.000000,82,4.000000,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,Suburban,Single,187,14.000000,32,0.000000,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.149071,40,0.384256,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.000000,68,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.000000,63,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.000000,27,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.000000,1,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [53]:
mkt=np.round(pd.pivot_table(marketing1,index='sales_channel',values='customer_lifetime_value', aggfunc=[sum]),2)
display(mkt)

                                  sum
              customer_lifetime_value
sales_channel
Agent                     33057887.85
Branch                    24359201.21
Call Center               17364288.37
Web                       12697632.90

In [ ]:
# It seems that the Agent channel is the one that brought the best customers, it makes sense in a way since the Agent has a more personalized approach to the sale.
# Branch ranks second, which I guess its the customer reaching to the insurance company, Call center and web are the bottom channels, that rely in virtual interaction with the customer.
# the lifetime value could be affected by the number of months the customer has been a client, and it can be inferred, that call center and web are the newest channels, so thats why their lifetime value is lower.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [60]:
mkt2=np.round(pd.pivot_table(marketing1,index=['gender','education'],values='customer_lifetime_value', aggfunc=['mean']),2)
display(mkt2)

                                               mean
                            customer_lifetime_value
gender education
F      Bachelor                             7874.27
       College                              7748.82
       Doctor                               7328.51
       High School or Below                 8675.22
       Master                               8157.05
M      Bachelor                             7703.60
       College                              8052.46
       Doctor                               7415.33
       High School or Below                 8149.69
       Master                               8168.83

In [51]:
# For both genders, the customer that have a Doctors degree, have the less revenue.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here